a:visited {
	color: blue;
}

a {
	color: white;
}


th {
	background-color: gray;
}

#map {
	width: 800px;
	height: 300px;
	}

#hold-map{
	display:flex; 
	justify-content: center; 
	padding: 15px;
}

